<div class="form__group">
    <label for="id_ingredient" class="form__label">Ингредиенты</label>
    <div class="form__field-group">
        <div class="form__field-group-ingredientes">
            <div class="form__dropdown">
                <input type="text" id="nameIngredient" class="form__input">
                <div class="form__dropdown-items"></div>
            </div>
            <input type="number" id="cantidad" class="form__input" min="0">
            <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
        </div>
        <div class="form__field-group-ingredientes-container">
            {% if recipe %}
            {% for i in recipe.recipe_ingredient.all %}
            <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                <span> {{ i.ingredient.name }} {{ i.quantity }} {{ i.ingredient.unit }}</span>
                <span class="form__field-item-delete"></span>
                <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}"
                    type="hidden" value="{{ i.ingredient.name }}">
                <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}"
                    type="hidden" value="{{ i.quantity }}">
                <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}"
                    type="hidden" value="{{ i.ingredient.unit }}">
            </div>
            {% endfor %}
            {% else %}
            {% for i in ingredients %}
            <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                <span> {{ i.name }} {{ i.value }} {{ i.quantity }}</span>
                <span class="form__field-item-delete"></span>
                <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}"
                    type="hidden" value="{{ i.name }}">
                <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}"
                    type="hidden" value="{{ i.value }}">
                <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}"
                    type="hidden" value="{{ i.quantity }}">
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
        <span class="form__error"></span>
    </div>
</div>