{% for field in form %}
{% if field.name == 'tags'%}
{% include 'include/tags_form_field.html' with field=field %}
{% include 'include/ingredients_form_field.html' %}
{% elif field.name == 'cooking_time' %}
{% include 'include/cooking_time_form_field.html' with field=field%}
{% elif field.name == 'text' or  field.name == 'image' %}
{% include 'include/text_form_field.html' with field=field %}
{% else %}
{% include 'include/recipe_name_form_field.html' with field=field %}
{% endif %}
{% endfor %}
{% if form.errors %}
<span class="form__error">{{ form.errors.as_text  }}</span>
{% endif %}
