{% load user_filters %}
<div class="form__group">
    <p class="form__label">{{ field.label }}</p>
    <div class="form__field-group">
        <div class="tags">
            {% for tag in form.fields.tags.choices.queryset %}
            <div class="tags__item">
                <input type="checkbox" name="tags" id="id_{{ tag.name }}"
                    class="tags__checkbox tags__checkbox_style_{{ tag.color }}" value="{{ tag.pk }}"
                    {% if tag.pk|is_checked:form.tags.value %}checked{% endif %}>
                <label for="id_{{ tag.name }}" class="tags__label">{{ tag.title }}</label>
            </div>
            {% endfor %}
        </div>
        <span class="form__error">{{ form.tags.errors }}</span>
    </div>
</div>