{% extends "include/base.html" %}
{% block title %}
Войти на сайт
{% endblock title %}


{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block navigation %}
{% with recipes=True %}
{% include 'include/navigation.html' %}
{% endwith %}
{% endblock navigation %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>
    {% include 'forms/login_form_fields.html' %}
</main>
{% endblock %}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}