{% extends "base.html" %}
{% block title %}
Пароль изменен
{% endblock title %}


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock css %}

{% block navigation %}
{% with password_change=True %}
{% include 'include/navigation.html' %}
{% endwith %}
{% endblock navigation %}


{% block content %}
{% include 'include/message.html' with message="Пароль успешно изменен!" %}
{% endblock content %}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}