{% extends "base.html" %}
{% block title %}
Новый пароль
{% endblock title %}


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">Введите новый пароль</h1>
</div>
<div class="form-container">
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% include 'forms/foodgram_form_fields.html' with field=field %}
        {% endfor %}
        <div class="form__footer">
            <button class="button button_style_blue">Назначить новый пароль</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}