{% extends "include/base.html" %}
{% block title %}
Пароль сброшен
{% endblock title %}


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}

{% block navigation %}
{% with password_change=True %}
{% include 'include/navigation.html' %}
{% endwith %}
{% endblock navigation %}
{% block content %}
<div class="custom-center-block">
    <p class="custom-text-block">Пароль успешно сброшен!</p>
    <div class="custom-button-block">
        <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
    </div>
</div>
{% endblock %}

{% endblock content %}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}