{% extends "base.html" %}
{% block title %}
{{ title}}
{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="card-list">
        {% for user, recipes in recipe.items %}
        <div class="card-user" data-author="{{ user.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ user }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items"></ul>
                {% for recipe in recipes %}
                {% include 'include/follow_card.html' with recipe=recipe %}
                {% endfor %}
                {% include 'include/follow_footer.html' with user=user%}
                </ul>
            </div>
        </div>
        {% endfor %}

    </div>
    {% if page.has_other_pages %}
    {% include 'include/paginator.html' with items=page paginator=paginator %}
    {% endif %}
</main>
{% endblock content%}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}

{% block js %}
{% load static %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock js%}