{% extends "base.html" %}
{% block title %}
{{ title}}
{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}


{% block content %}
{% csrf_token %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form%}
            {% include 'forms/foodgram_form_fields.html' %}
            {% endfor %}

            <div class="form__footer">
                {% if recipe %}
                <button class="button button_style_blue">Сохранить</button>
                <a style="margin-left: 2.5em" href="{% url 'recipe_delete' recipe.id %}"
                    class="form__ingredient-link">Удалить</a>
                {% else %}
                <button class="button button_style_blue">Создать рецепт</button>
                {% endif %}
            </div>

        </form>
    </div>
</main>
{% endblock content %}


{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}

{% block js %}
{% load static %}
<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock js%}