{% extends "include/base.html" %}
{% block title %}
{{ title}}
{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}

{% block navigation %}
{% with new=True %}
{% include 'include/navigation.html' %}
{% endwith %}
{% endblock navigation %}

{% block content %}
{% csrf_token %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}


            {% include 'forms/recipe_form_fields.html' %}


            <div class="form__footer">
                    {% if recipe %}
                    {% include "include/button.html" with title='Сохранить' %}
                    <a style="margin-left: 2.5em" href="{% url 'recipe_delete' recipe.id %}" class="form__ingredient-link">Удалить</a>
                    {% else %}
                    {% include "include/button.html" with title='Создать рецепт' %}
                {% endif %}
            </div>

        </form>
    </div>
</main>
{% endblock content %}


{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}

{% block js %}
{% load static %}
<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock js%}

