{% extends "include/base.html" %}
{% block title %}
{{ title}}
{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock css %}

{% block navigation %}
{% with recipes=True %}
{% include 'include/navigation.html' %}
{% endwith %}
{% endblock navigation %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ profile }}</h1>
        <ul class="tags">
            {% for item in tags_and_urls %}
            <li class="tags__item">
                {% if item.tag.name in tags %}
                <a id="{{ item.tag.name }}"
                   class="tags__checkbox tags__checkbox_style_{{ item.tag.color }} tags__checkbox_active"
                   href="?tag={{ item.url }}"></a>
                {% else %}
                <a id="{{ item.tag.name }}"
                   class="tags__checkbox tags__checkbox_style_{{ item.tag.color }} tags__checkbox_inactive"
                   href="?tag={{ item.url }}"></a>
                {% endif %}
                <span class="tags__label">{{ item.tag.title }}</span>
            </li>
            {% endfor %}
        </ul>

    </div>
    <!--        <p style="padding: 0 0 2em 0;"><a class="button button_style_light-blue" href="#">Подписаться на автора</a></p>-->
    <div class="author-subscribe" data-author="{{ profile.id }}">
        <p style="padding: 0 0 2em 0;">
            <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться
                на автора
            </button>
        </p>
    </div>
    <div class="card-list">
        {% for recipe in page %}
        <div class="card" data-id="{{ recipe.id }}">
            {% load thumbnail %}
            {% thumbnail recipe.image "960x339" crop="center" upscale=True as im %}
            <a href="{% url 'recipe' recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}"
                                                                                     width="{{ im.width }}"
                                                                                     height="{{ im.height }}"
                                                                                     alt="{{ recipe.title }}"
                                                                                     class="card__image"></a>
            {% endthumbnail %}
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe' recipe.id %}" target="_blank">{{ recipe.title }}</a>
                <ul class="card__items">
                    <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                    <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                    <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{
                        recipe.author.username }} ( {{recipe.author.get_full_name }} ) </a></p>
                </div>
            </div>
            <div class="card__footer">
                <button class="button button_style_light-blue" name="purchases" data-out><span
                        class="icon-plus button__icon"></span>Добавить в покупки
                </button>
            </div>

        </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
    {% include 'include/paginator.html' with items=page paginator=paginator %}
    {% endif %}
</main>
{% endblock content %}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}
{% block js %}
{% load static %}
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'authorRecipe.js' %}"></script>
{% endblock js%}

