{% extends "base.html" %}
{% block title %}
{{ title}}
{% endblock title %}


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}
{% include 'include/recipe_card.html'%}
{% endblock content %}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}

{% block js %}
{% load static %}
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'singlePage.js' %}"></script>
{% endblock js%}