{% extends "base.html" %}
{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block css %}
{% load static %}
<link href="{% static 'pages/index.css' %}" rel="stylesheet">
{% endblock css %}

{% block navigation %}
{% include 'include/navigation.html' %}
{% endblock navigation %}


{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ flatpage.title }}</h1>
    </div>
    {{ flatpage.content }}
</main>
{% endblock content %}

{% block footer %}
{% include 'include/footer.html' %}
{% endblock footer %}

